<div class="control-group">
  <label class="control-label">{{i18n "group_tag_associations.title"}}</label>
  <div>{{i18n "group_tag_associations.description"}}</div>
</div>

<div class="control-group">
  <TagChooser
    @tags={{this.model.associated_tags}}
    @allowCreate={{false}}
    @everyTag={{true}}
  />
</div>